<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <!-- Trang loi cho ASP.NET (neu co) -->
    <customErrors mode="On" defaultRedirect="404.html">
      <error statusCode="404" redirect="404.html"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <!-- IIS tra ve 404.html khi khong tim thay trang -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <error statusCode="404" path="404.html" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
</configuration>
